@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.i-am-centered {
    margin: auto; max-width: 300px;
}

.red {
    color: red;
}

a.navbar-mimic {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    background-color: transparent;
}

a.navbar-mimic:hover {
    color:#000000;
}

.navbar-custom {
    background-color: #ddeaff !important;
}

.dropdown-item.active {
    color: black;
    background-color: #ddeaff;
}

.dropdown-item:hover {
    color: black;
    background-color: #ddeaff;
}

h1 h5 {
    font-family: Montserrat;
}

.montserrat-font {
    font-family: Montserrat;
}

.flex-vertical-align {
    align-items: center;
}

.acontainer {
    border: 1px solid black;
}

div[class^="acol"] {
    border: 1px solid green;
}

.arow {
    border: 1px solid red;
}

div {
    font-family: Jura;
}

#message {
    margin-left: 15px;
}
